.mono/
EmuDeck/
GIMP*/
LanguageTool/
Microsoft/
QtProject.conf
RawTherapee*
Thunar
Unknown Organization
WebTorrent
arch/
ardour*
autostart
blender/
btop
cef_user_data
dconf
draw.io/
font-manager/
fontconfig/
glib*
glow/
guitarix
hu.irl.cameractrls/
ibus/
keepassxc
legendary/
libreoffice
lsp-plugins/
lutris
menus
obs-studio/
pavucontrol.ini
pipewire
powerline.sh.bak
pulse
qutebrowser/autoconfig.yml
qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/quickmarks
rclone
rncbc.org
rpcs3
startpage
steam-rom-manager/
sway/
teams-for-linux/
tenacity/
tmc-cli
torbrowser/
uad/
user-dirs.dirs
user-dirs.locale
xarchiver/
xfce4/
xfce4/xfconf
youtube*
zoom*
