Electron/
GIMP*/
Kitware/
Microsoft/
QtProject.conf
RawTherapee*
Thunar
Unknown Organization
WebTorrent
ardour*
autostart
btop
cef_user_data
chromium/
dconf
discord/
fontconfig/
geeqie
glib*
guitarix
icon-names
keepassxc
libreoffice
llpp.conf
lutris
menus
octave
pavucontrol.ini
pipewire
powerline.sh.bak
pulse
qtile/
qutebrowser/autoconfig.yml
qutebrowser/bookmarks
qutebrowser/quickmarks
rclone
rncbc.org
startpage
teams-for-linux/
tmc-cli
torbrowser/
user-dirs.dirs
user-dirs.locale
xarchiver/
xfce4/
xfce4/xfconf
zoom*
rpcs3
inkscape/
hu.irl.cameractrls/
FreeCAD/
OpenSCAD/
blender/
glow/
obs-studio/
legendary/
draw.io/
Upscayl/
uad/
YouTube Music/
tenacity/
/EmuDeck/
/LanguageTool/
/arch/
/font-manager/
/steam-rom-manager/
/sway.bak/
/sway/



