GIMP-AppImage/
Microsoft/
QtProject.conf
RawTherapee
Thunar
Unknown Organization
WebTorrent
ardour7
autostart
btop
cef_user_data
dconf
geeqie
guitarix
icon-names
keepassxc
libreoffice
llpp.conf
lutris
menus
octave
pavucontrol.ini
pipewire
powerline.sh.bak
qutebrowser/bookmarks
qutebrowser/quickmarks
qutebrowser/autoconfig.yml
rclone
rncbc.org
startpage
teams-for-linux/
tmc-cli
zoom.conf
zoomus.conf
user-dirs.dirs
user-dirs.locale
pulse
xfce4/xfconf
ardour8/
Electron/
chromium/
discord/
torbrowser/
Kitware/
fontconfig/
xarchiver/
xfce4/

