configuration {
    modes: [drun];
    drun-display-format: "{name}";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    icon-theme: "Qogir-dark";
    display-drun: " ";
}

@theme "themes/appdrawer_theme.rasi"   
