@define-color nord0  rgba(250, 250, 250, 1);
@define-color nord1  rgba(243, 245, 248, 0.9);
@define-color nord2  rgba(235, 239, 244, 1);
@define-color nord3  rgba(220, 226, 233, 1);
@define-color nord4  rgba(46, 52, 64, 1);
@define-color nord5  rgba(70, 76, 90, 1);
@define-color nord6  rgba(96, 102, 118, 1);

@define-color nord7  rgba(71, 153, 147, 1);
@define-color nord8  rgba(64, 162, 178, 1);
@define-color nord9  rgba(52, 125, 150, 1);
@define-color nord10 rgba(36, 93, 140, 1);
@define-color nord11 rgba(175, 75, 85, 1);
@define-color nord12 rgba(190, 115, 95, 1);
@define-color nord13 rgba(212, 175, 95, 1);
@define-color nord14 rgba(108, 140, 90, 1);
@define-color nord15 rgba(140, 100, 145, 1);
@define-color white rgba(20,20,20,1);

* {
    background-color: transparent;
    font-family: 'IosevkaTerm Nerd Font';
}


window#waybar {
    padding:0;
    margin: 0;
}

.modules-left  {
    background-color: @nord1;
    border: 1px solid @nord3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: @white;
    padding: 0px 10px 0px 0px;
}

.modules-center {
    background-color: @nord1;
    border: 1px solid @nord3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: @white;
}

.modules-right {
    background-color: @nord1;
    border: 1px solid @nord3;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color:@white;
}

#workspaces {
    background-color: transparent;
    padding: 2px 6px;
}

#tray {
    padding: 0px 8px 0px 0px;
}
#tray menu {
    background-color: @nord1;
}

#mpris {
    min-width: 100px;
}

tooltip {
    background-color: @nord1;
    color: @nord6;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid @nord3;
}

#battery.good{
    color: @nord14;
    /* background:rgba(168,255,0,1); */
}

#battery.decent{
    color:@nord13;
    /* color: rgba(255,246,0,1); */
}

#battery.warning{
    /* color: rgba(255, 174, 0, 1); */
    color: @nord12;
}

#battery.critical{
    color: @nord11;
    /* color: rgba(255, 0, 0, 1); */
}

/* #battery.charging{ */
/*     color:@white; */
/* } */
