[Unit]
Description=Keep track of media player activity

[Service]
Type=oneshot
ExecStart=/usr/sbin/playerctld daemon

[Install]
WantedBy=default.target
